<?xml version="1.0"?>
<configuration>
  <!-- These configuration sections tell .NET how to handle the FiftyOne.Foundation.Mobile
  configuration settings further down the web.config file -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Detector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <pages>
        <controls>
          <add assembly="FiftyOne.Foundation" namespace="FiftyOne.Foundation.UI.Web" tagPrefix="fiftyOne"/>
        </controls>
      </pages>
      <httpRuntime maxRequestLength="2147483647" />
      <customErrors mode="RemoteOnly"/>
      <compilation debug="true" />
      <sessionState mode="InProc" timeout="20" cookieless="UseCookies" />
      <!-- IIS 6.0 & Visual Studio - Registers a module that is used to detect any new requests to the web site.
      Without this module mobile detection and redirection won't work.-->
      <!--<httpModules>
        <add name="Detector" type="FiftyOne.Foundation.Mobile.Detection.DetectorModule, FiftyOne.Foundation"/>
      </httpModules>-->
      <trust level="Medium" originUrl="http://localhost:5151/Default.aspx|http://localhost/Detector/Default.aspx|http://devices.51degrees.(mobi|com)/new.ashx|^.+51degrees.(com|mobi).+$"/>
    </system.web>
  </location>
  
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- IIS 7.X - Registers a module that is used to detect any new requests to the web site.
    Without this module mobile detection and redirection won't work.-->
      <modules>
        <remove name="Detector"/>
        <add name="Detector" type="FiftyOne.Foundation.Mobile.Detection.DetectorModule, FiftyOne.Foundation"/>
      </modules>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="2147483647"/>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <applicationSettings>
    <Detector.Properties.Settings>
      <setting name="Detector_WebService_MobileDevice" serializeAs="String">
        <value>http://localhost/Detector4/MobileDevice.asmx</value>
      </setting>
    </Detector.Properties.Settings>
  </applicationSettings>
</configuration>